<!DOCTYPE html>
<html>
<head>
    <title>Crypto Exchange</title>

    <style>
        body{
            background:#000;
            color:#fff;
            font-family:Arial;
            padding:40px;
        }

        .card{
            background:#111;
            padding:20px;
            border-radius:20px;
            margin-bottom:20px;
        }
    </style>
</head>

<body>

<h1>Crypto Exchange</h1>

<div class="card">
    <h2>Bitcoin</h2>
    <p>$103,000</p>
</div>

<div class="card">
    <h2>USDT</h2>
    <p>$1.00</p>
</div>

<div class="card">
    <h2>Ethereum</h2>
    <p>$2,500</p>
</div>

</body>
</html>
